/*
    IDS
*/
#profileDetails {
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    border: solid 2px white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-bottom: 35%;
    min-width: 80%;
}

#profileDetailsContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
}


#profileDetailsList {
    align-items: center;
    display: flex; 
    flex-direction: column;
    width: 100%;
}

#profileFieldContainer {
    align-items: center;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    min-width: 85%;
}


#profileInputContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-width: 95%;
}

#user_name {
    width: 40%;
}

/*
    CLASSES
*/

.profileInput {
    font-size: 18px;
    height: 35px;
    text-align: right;
    width: 20%;
}

/*
    MEDIA QUERIES
*/

@media screen and (min-width: 769px) {
    #user_name {
        width: 25%;
    }

    #profileDetails {
        margin-bottom: 20%;
    }

    .profileInput {
        width: 10%;
    }
}

@media screen and (min-width: 1025px) {
    #profileDetails {
        min-width: 65%;
    }
}