/*
    CLASSES
*/
.exerciseLinkContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.exerciseListContainer {
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    border: solid 2px white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    min-width: 80%;
    margin-bottom: 35%;
}

/*
    IDS
*/

#exerciseSummary {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

/*
    MEDIA QUERIES
*/

@media screen and (min-width: 769px) {
    .exerciseListContainer {
        margin-bottom: 25%;
    }
}

@media screen and (min-width: 1025px) {
    .exerciseListContainer {
        margin-bottom: 20%;
        min-width: 65%;
    }
}

@media screen and (min-width: 1200px) {
    .exerciseListContainer {
        margin-bottom: 10%;
    }
}