.recordFieldContainer {
    display: flex;
    justify-content: space-between;
    margin: 1%;
    min-width: 95%;
}

.recordsContainer {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    max-width: 45%;
}