.addFieldContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1%;
    min-width: 95%;
}

.lightLabel {
    color: white;
}

#profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.formContainer {
    align-items: center;
    background-color: rgb(255, 255, 255, .3);
    border: 2px solid rgba(9, 173, 121, 1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    /* remember to change bottom margin in media queries so the page
    is not scrollable on taller views
    */
    margin-bottom: 35%;
    min-width: 95%;
}

.viewContainer {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}