/* CLASSES */

.mainNavButton {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
}

.navBarContainer {
    align-items: center;
    display: flex;
    width: 100%;
}

/* IDS */

#mainNavContainer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
}

#navBarBackArrow {
    display: flex;
    flex: 1;
}

#navBarHeader {
    display: flex;
    flex: 2; 
}

/*
    MEDIA QUERIES
*/

@media screen and (min-width: 481px) {
    #navBarBackArrow {
        margin-left: 5%;
    }

    #navBarHeader {
        margin-left: 8%;
    }
}
@media screen and ( min-width: 769px) {
    #navBarHeader {
        margin-left: 10%;
    }
}

@media screen and (min-width: 1025px) {
    #navBarHeader {
        margin-left: 12%;
    }
}